<div class="container">
  <div class="row-fluid">
    <div class="span6 form">
      <form class="well form-horizontal" method="GET">
        <fieldset>
          <legend>Test panel</legend>

          <% Fields.each do |name, title| %>
              <div class="control-group">
                <label class="control-label" for="<%= name %>"><%= title %></label>

                <div class="controls">
                  <input type="text" class="" name="<%= name %>" value="<%= value_or_default name %>">
                </div>
              </div>
          <% end %>


          <div class="control-group">
            <label class="control-label" for="jquery_url">jQuery</label>

            <% JQUERY_LIST = %w{None 1.8.1 1.7.2 1.7 1.6 1.5 1.4 1.3.2} %>
            <div class="controls">
              <select name="jquery_url">
                <% JQUERY_LIST.each do |title| %>
                    <% value = title == "None" ? '' : "http://code.jquery.com/jquery-#{title}.min.js" %>
                    <% opt = params['jquery_url'] == value ? 'selected' : '' %>
                    <option value="<%= value %>" <%= opt %> ><%= title %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="action_type">Action type</label>

            <% ACTION_TYPES = {'Empty' => '', 'Signup' => 'signup', 'Bet' => 'bet', 'Deposit' => 'deposit'} %>
            <div class="controls">
              <select name="action_type">
                <% ACTION_TYPES.each do |title, value| %>
                    <% opt = params['action_type'] == value ? 'selected' : '' %>
                    <option value='<%= value %>' <%= opt %> ><%= title %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="js_code">Js code</label>

            <div class="controls">
              <textarea name="js_code" rows="5"><%= params['js_code'] %></textarea>
            </div>
          </div>

        </fieldset>

        <div class="form-actions">
          <button type="submit" value="new_signup" class="btn btn-primary btn-block" type="button">Submit</button>
        </div>

      </form>

      <div class="well">
        <button href='#' id="btn" class='btn'>#btn</button>
        <button href='#' id="btn-primary" class='btn btn-primary' type="button">#btn-primary</button>
        <button href='#' id="btn-info" class='btn btn-info'>#btn-info</button>
        <button href='#' id="btn-success" class='btn btn-success'>#btn-success</button>
        <button href='#' id="btn-warning" class='btn btn-warning'>#btn-warning</button>
        <button href='#' id="btn-danger" class='btn btn-danger'>#btn-danger</button>
        <button href='#' id="btn-inverse" class='btn btn-inverse'>#btn-inverse</button>
      </div>

    </div>

    <div class="span6">

      <div class="well">

        <% html = erb(:generator) %>
        <%= html %>

        <legend>Generated code</legend>
        <pre><code class="html"><%= CGI.escapeHTML(html) %></code></pre>
        <p class="help-block">Run from anywhere but localhost address</p>


        <legend>Params</legend>
        <pre><code><%= params.to_yaml %></code></pre>

      </div>
    </div>

  </div>


  <script src="js/highlight.pack.js"></script>
  <script>
      //      hljs.tabReplace = '    ';
      hljs.initHighlightingOnLoad();
  </script>
</div>
